<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Missions</h3>
	</div>
	<div class="panel-body">
		<accordion close-others="true">
			<accordion-group ng-repeat="mission in missions">
				<accordion-heading>
                    {{ mission.name }}: Size <span class="badge">{{ mission.teamsize }}</span>
                    <span ng-if="mission.requiresDoubleFires">
                    	( <span class="glyphicon glyphicon-warning-sign"></span>
                    	<span class="glyphicon glyphicon-fire"></span>
                    	<span class="glyphicon glyphicon-fire"></span> )
                    </span>
                    <span ng-if="mission.succeeded || mission.failed" class="badge pull-right">
                    	<span ng-class="mission.succeeded ? 'glyphicon-leaf' : 'glyphicon-fire'"
                    		class="glyphicon glyphicon-leaf"></span>
                    </span>
                </accordion-heading>
                <div ng-repeat="team in mission.teams" ng-style="!$first ? {'background-color':'#ccc'} : {}" style="margin: -6px; padding: 6px;">
                    <h4 ng-if="team.accepted">Accepted team <span class="glyphicon glyphicon-thumbs-up"></span> :</h4>
                	<h4 ng-if="$index == 1" >Rejected teams <span class="glyphicon glyphicon-thumbs-down"></span> :</h4>
                	<h5>
                		<div style="display:inline"  ng-repeat="member in team.members">
                			<span class="badge">{{member.name}} <span ng-if="team.accepted" class="glyphicon" ng-class="{ 'glyphicon-thumbs-up' : member.vote, 'glyphicon-thumbs-down': !member.vote }"></span></span>
	                	</div>
                	</h5>
                	<ul>
                        <li>
                            chosen by <span class="badge">{{team.chosenBy}}</span>
                		<li ng-if="team.accepted">
                		    Not on team:
                            <div ng-if="team.accepted" style="display:inline"  ng-repeat="member in team.notParticipating">
                                <span class="badge">{{member.name}} <span class="glyphicon" ng-class="{ 'glyphicon-thumbs-up' : member.vote, 'glyphicon-thumbs-down': !member.vote }"></span></span>
                            </div>
                        </li>
                		<li ng-if="$first && 
                        (mission.succeeded || mission.failed)">Mission <b>{{ mission.succeeded ? 'SUCCEEDED' : 'FAILED' }}</b>.
                	</ul>
                </div>
			</accordion-group>
		</accordion>
	</div>
</div>